rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fcmTokens/{document} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow delete: if request.auth.uid == resource.data.createdBy;
    }
    match /games/{document} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow delete,update: if false;
    }
    match /matches/{document} {
      allow read: if true;
      allow create,update: if request.auth.uid != null;
      allow delete: if request.auth.uid == resource.data.createdBy;
    }
    match /users/{document} {
      allow read,create: if true;
      allow update,delete: if request.auth.uid == resource.id;
    }
  }
}
