/* eslint-disable */

importScripts('https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js');
importScripts('https://www.gstatic.com/firebasejs/8.0.1/firebase-messaging.js');

firebase.initializeApp({
  apiKey: undefined,
  appId: undefined,
  authDomain: undefined,
  measurementId: undefined,
  messagingSenderId: undefined,
  projectId: undefined,
});

const messaging = firebase.messaging();
